<!DOCTYPE html>
<html manifest='what_to_do.appcache'>
<head>
	<meta charset="utf-8">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="img/whattodo.png">
	<link rel="apple-touch-startup-image" href="img/whattodo.png">

	<!-- offline -->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>

	<!-- online -->
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<!-- custom -->
	<link href="main.css" rel="stylesheet">
	<script language="javascript" type="text/javascript" src='javascript/main.js'></script>
	<script language="javascript" type="text/javascript" src='javascript/slider.js'></script>
</head>

<body ng-app='decisionMaker'>
	<div class='container'>
		<span class='slideButton' onclick='slide()'><i class='glyphicon glyphicon-chevron-right'></i></span>
		<span class='slideButtonleft' onclick='slide()'><i class='glyphicon glyphicon-chevron-left'></i></span>
		<div id='optionInputForm' ng-controller='OptionsController' ng-init='init()'>
			<div class='alert alert-success' ng-class="saved ? 'fade-out':''" ng-show='saved'>
				<span>your list was saved</span>
				<i class="glyphicon glyphicon-ok pull-right"></i>
			</div>

			<h1>What to do?</h1>

			<div class='alert alert-info' ng-show='result'>
				{{result}}
				<i ng-click="deleteResult(result)" class="glyphicon glyphicon-ok pull-right"></i>
			</div>

			<ul class='list-group'>
				<li class='list-group-item' ng-repeat='option in options track by $index'>
					{{option}}
					<i ng-click="deleteItem($index)" class="glyphicon glyphicon-remove pull-right"></i>
					<i ng-click="editItem($index)" class="glyphicon glyphicon-edit pull-right"></i>
					<i ng-show="rate" ng-repeat='i in countOccurrences(option) track by $index' ng-click="incrementRate(option)" class="glyphicon glyphicon-star-empty pull-right"></i>
				</li>
			</ul>

			<form role="form" ng-submit='addOption()'>
			  <div class="form-group">
			    <input id='optionInput' type="text" class="form-control" placeholder="Enter your option" ng-model='optionInput' autofocus>
			  </div>
				<a class="pull-right" ng-click="clearAll()">clear all</a>
				<a ng-show="!rate" class="pull-right" ng-click="saveList()">save list</a>
				<a ng-show="!rate" ng-click="showRating()" class="pull-right">rate</a>
				<a ng-show="rate" ng-click="noRating()" class="pull-right">no rate</a>
			</form>

			<button ng-show="!rate" class="btn btn-info chooseOption" ng-click="decide()">Decide!</button>
			<button ng-show="rate" class="btn btn-info chooseOption" ng-click="decideRated()">rated decision!</button>
			<a class="chooseOption" href="http://randomtask.herokuapp.com/">No ideas?</a>
		</div>

	<div id='shouldI' ng-controller='ShouldIController'>
		<h1>Should I ...?</h1>
		<ul class='list-group'>
			<li ng-show='question' class='list-group-item'>
				{{question}}
			</li>
		</ul>
		<div class='alert alert-info' ng-show='answer'>
			<span>{{answer}}</span>
			<i ng-click="deleteAnswer()" class="glyphicon glyphicon-remove pull-right"></i>
		</div>
		<form role='form' ng-submit='submitQuestion()'>
			<div class="form-group">
				<input id='question' type="text" class="form-control" placeholder="Should I do it?" ng-hide='answer' ng-model='question' autofocus>
			</div>
		</form>
	</div>

	</div>
	<div class='footer'>
		made by pikkupanda
	</div>
<body>
</html>
