body {
  font-family: 'Indie Flower';
}

h1 {
  text-align: center;
  margin: 70px;
}

#optionInputForm {
  max-width: 350px;
  margin: auto;
  font-family: 'Dosis';
}

.chooseOption {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Indie Flower';
}

a, i {
  margin-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
}
